@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1538px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.homepage {
  width: 100%;
  height: 800px;
  background-color: black;
  color: white;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.nav__links a {
  color: white;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 400px;
}

.header__btn {
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid white;
}

.header__btn a {
  color: black;
}


.hero__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.first__title h2 {
  padding-right: 700px;
  font-size: 22px;
  font-weight: 400;
  margin-top: 35px;
}

.first__title small {
  font-size: 12px;
  font-weight: 400;
  background-color: rgba(116, 46, 255, 1);
  color: white;
}

.first__title h1 {
  font-size: 112px;
  font-weight: 400;
}

.hero__input {
  position: absolute;
  left: 350px;
  top: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input {
  display: flex;
}
.hero__input input {
  width: 270px;
  height: 38px;
  background-color: rgba(142, 142, 152, 0.2);
  border: 1px solid rgba(142, 142, 152, 0.2);
  background-color: rgba(142, 142, 152, 0.2);
  outline: none;
}

.hero__input button {
  padding: 9px;
  background-color: rgba(71, 71, 76, 1);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  color: white;
  border: none;
}

.hero__input small {
  margin-right: 105px;
  margin-top: 20px;
  color: rgba(71, 71, 76, 1);
}

.hero__input span {
  color: rgba(142, 142, 152, 1);
}

.hero__bottom {
  position: absolute;
  top: 540px;
  left: 540px;
  background-color: rgba(142, 142, 152, 1);
  width: 411px;
  height: 30px;
  font-size: 13px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shapes{
  width: 100%;
  height: 775px;
  background-color: black;
  border-top: 5px solid grey;
  padding: 10px 31px;
}
.shapes__box{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  gap: 16.25px;
  margin-bottom: 15px;
}
.shapes__box--triangle{
  width: 447.70001220703125px;
  background-color: #25E197;
  height: 200px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shapes__box--circle{
  width: 985.2739868164062px;
  height: 200px;
  background-color: #FFD233;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shapes__box2{
  width: 100%;
  height: 545.6849365234375px;
  display: flex;
  align-items: center;
  gap: 15.4px;
}
.shapes__box2--circle{
  width: 912.2666625976562px;
  height: 545.6849365234375px;
  background-color: #792EFF;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shapes__box2--square{
  width: 522.04437255859375px;
  height: 545.6849365234375px;
  background: #C4C4C8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}